html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #e6edf3;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-weight: normal;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #0b0f1a;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    color: #e6edf3;
    text-decoration: underline;
}

b {
    font-weight: 700;
}